modules = ["python-3.12", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "aria2", "libmediainfo", "tzdata", "zip", "unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m bot"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
TZ = "UTC"
MONGO_DATABASE_URL = "mongodb+srv://shizune080:cINkL8O2wP2yKtyj@cluster0.t4vec.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
